.create {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btn {
  font-family: Tahoma;
  font-size: 18px;
  width: 10%;
  height: 90px;
  padding: 5px 8px;
  background-color: rgb(34, 109, 196);
  color: rgb(238, 238, 238);
  border: none;
}

.btn:hover {
  background-color: rgb(5, 81, 168);
  color: rgb(221, 221, 221);
}

textarea {
  width: 40%;
  margin-bottom: 5px;
  padding: 5px;
  border: none;
  resize: unset;
  height: 80px;
}